/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    background-image: url(https://bit.ly/4bcK1Hc);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main {
    background-color: rgba(227, 193, 173, 0.85);
    position: relative;
    top: 30%;
    border: 1px solid;
    border-radius: 8px;
    min-width: 540px;
    max-width: 45%;
    margin: auto;
    padding: 2em;
}

#weather-wrapper {
    display: flex;
    flex-direction: column;
    place-items: center;
    justify-content: space-between;
}

h1 {
    margin-bottom: 1em;
}

#weather-search {
    display: flex;
    width: 50%;
}

#search {
    border: none;
    border-radius: 5px 0 0 5px;
    padding: 10px;
    font-size: 16px;
    width: 70%;
    height: 40px;
}

#submit {
    border-radius: 8px;
    padding: 10px;
    font-size: 16px;
    width: 5em;
    cursor: pointer;
}

#weather-data {
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 8px;
    padding: 1.5em;
    margin-top: 24px;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    width: 55%;
    gap: 16px;
}
  
#weather-data > img {
    border-radius: 50%;
    background-color: lightskyblue;
}